/* основные цвета */
/* черный лого #000000 */
/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* основной цвет страницы #FFFFFF */
/* выделено синим #2196F3 */
/* белый текст/ #FFFFFF */
/* светло-серый фон #F5F4FA; */
/* футер прозрачно-белый rgba(255, 255, 255, 0.6) */
/* фон футера/херо #2F303A */
/* button hover #188CE8 */

/* общие настройки */
:root {
  --main-text-color: #212121;
  --low-text-color: #757575;
  --accent-bgc: #2196f3;
  --button-hover: #188ce8;
  --accent-color: #ffffff;
  --team-bgc: #f5f4fa;
  --hero-footer-color: #2f303a;
  --header-top-collor: #c4c4c4;
  --border-job-icon: #eeeeee;
  --border-header: #ececec;
  --bgc-undericon: #2196f3;
  --icon-cl: #afb1b8;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img,
svg {
  display: block;
}
.page {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.section {
  padding: 94px 0;
}
.container-section {
  padding: 0 15px;
  margin: 0 auto;

  width: 1200px;
  outline: 2px solid #188ce8;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  border: 1px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

/* header */
.header {
  border-bottom: 1px solid var(--border-header);
}
.nav-section {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  padding: 24px 0;
  margin-right: 93px;

  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-span {
  color: var(--accent-bgc);
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 22px 0;
}

.nav-item:not(:last-child),
.auth-item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .link {
  display: block;
  padding: 10px 0;

  color: var(--main-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-bgc);
}

.site-nav .link.current {
  color: var(--accent-bgc);
}

.auth-nav {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 22px 0;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  padding: 10px 0;

  color: var(--low-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.nav-under-icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}
.auth-nav .link:hover .nav-under-icon,
.auth-nav .link:focus .nav-under-icon {
  fill: var(--accent-bgc);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-bgc);
}

/* hero */

.hero {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--hero-footer-color);
  background-image: linear-gradient (to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  display: flex;
  margin: 0 auto;
  text-align: center;

  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--accent-color);
  background-color: var(--accent-bgc);
  font-weight: 700;
  line-height: 1.9;
}

.hero-button:hover {
  background-color: var(--button-hover);
}

/* advanteges */
.advantages.section {
  padding-bottom: 0;
}
.advanteges-list {
  display: flex;
}

.advanteges-content:not(:first-child) {
  margin-left: 30px;
}

.antenna-content::before {
  content: '';
  height: 120px;
  display: block;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-bgc);
  background-image: url('../images/icons/antenna.svg');
}

.advanteges-icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--team-bgc);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.advanteges-text-content {
  width: 270px;
  height: 130px;
  padding-top: 30px;
}

.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  color: var(--low-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* activity */
.activity.section {
  margin-top: 0;
}
.activity .container-section {
  flex-wrap: wrap;
  margin: 0 auto;
}
.activity.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.activity .list {
  display: flex;
}

.activity-li {
  width: 370px;
  height: 294px;
}
.activity-li:not(:last-child) {
  margin-right: 30px;
}
/* team */

.team.section {
  background-color: var(--team-bgc);
}

.team-title {
  text-align: center;
  margin: 0 auto 50px;
  font-size: 36px;
  line-height: 1.17;
}

.team-list {
  display: flex;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-under-img {
  padding: 30px 0;
  background-color: var(--accent-color);
}
.team-second-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-text {
  color: var(--low-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials-item:not(:first-child) {
  margin-left: 10px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team-link:hover,
.team-link:focus {
  background-color: var(--bgc-undericon);
}
.team-icon {
  fill: var(--icon-cl);
}
.team-link:hover .team-icon,
.team-link:focus .team-icon {
  fill: var(--accent-color);
}

/* our-client-section */

.our-client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  margin-bottom: 50px;
}
.our-client-list {
  display: flex;
  align-items: center;
}
.our-client-item {
  flex-basis: calc((100% - 5 * 30px / 6));
  height: 92px;
}
.our-client-item:not(:first-child) {
  margin-left: 30px;
}
.our-client-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.our-client-link:hover,
.our-client-link:focus {
  border-color: var(--bgc-undericon);
}

.our-client-icon {
  fill: var(--icon-cl);
}
.our-client-link:hover .our-client-icon,
.our-client-link:focus .our-client-icon {
  fill: var(--bgc-undericon);
}
/* footer */

.footer {
  padding: 60px 0;
  color: var(--accent-color);
  background-color: var(--hero-footer-color);
}
.footer-section {
  display: flex;
  align-items: baseline;
}
.footer-adress-group {
  margin-right: 70px;
}
.footer-logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.footer-adress {
  margin-top: 20px;
}

.logo-span {
  color: var(--accent-bgc);
}

.adress {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.map.adress {
  color: var(--accent-color);
}

.footer-title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--bgc-undericon);
}
.footer-icon {
  fill: var(--accent-color);
}
/* Page 2 */
/* job options */

.job-list {
  display: flex;

  justify-content: center;
  margin-bottom: 50px;
}
.job-icon:not(:last-child) {
  margin-right: 8px;
}
.job-option {
  padding: 6px 22px;
  color: var(--main-text-color);
  background-color: var(--team-bgc);
  font-weight: 500;
  line-height: 1.6;
}
.job-option:hover,
.job-option:focus {
  color: var(--accent-color);
  background-color: var(--accent-bgc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.job-full {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.job-full-icon {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.job-full-icon:hover,
.job-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.job-full-icon:nth-child(3n) {
  margin-right: 0;
}
.job-full-icon:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.job-list-link {
  display: block;
  text-decoration: none;
}
.job-full-undertext {
  border: 1px solid var(--border-job-icon);
  border-top: 0;
  padding: 20px 24px;
}
.job-list-title {
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
}

.job-list-text {
  color: var(--low-text-color);
  font-size: 16px;
  line-height: 1.9;
}

/* hidden fix */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
